@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre RentCar";
}
<h1>@ViewData["Title"]</h1>

<p>Projecto para la clase de Desarrollo de Software con tecnologias propietarias.</p>
<p>Creado por Wayner De La Cruz - A00110203.</p>

