@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Rent Car</h1>
    <p>Este es un proyecto para la clase de Desarrollo de Software con Tecnologias Propietarias.</p>
</div>
